<%- include("./partials/head.ejs") %>

<body>
    <%- include ('partials/nav') %>
    <div class="container pt-4">
        <div class="lists">
            <h2>Restaurants</h2>
            <div class="listing-bottom row">

                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Filter
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/restaurants/best-resting"><strong>Top Rating</strong> </a>
                    <div class="dropdown-divider"></div>
                    <p class="dropdown-item" href=""><strong>Category</strong> </p>
                    <% for(data of categories) { %>
                    <p class="dropdown-item dropdown-category"><%= data %></p>
                    <% } %>
                </div>
                <div class="creteBtn pl-4">
                    <% if(user){%>
                    <a href="/restaurants" class="btn btn-info" role="buttom">Create new Restaurant</a>
                    <% } %>
                </div>
            </div>
        </div>

        <hr>
        <ul class="listings">
            <% for(data of datas) { %>
            <li class="lists" id="<%= data.id %>">
                <p class="image"><img src="/uploads/<%= data.image %>" width="150px"></p>
                <div class="list-details pl-4">
                    <h3><a href="/reviews/restaurant/<%= data.id %>"><%= data.name %></a> </h3>

                    <div class="stars-outer">
                        <div class=" stars-inner" id="star<%= data.id %>" data-score=<%= data.rating %>
                            style='width:<%= (data.rating * 10 / 10) * 20 %>%'></div>
                    </div>

                    <p class=" lead pt-2"><strong>Price :</strong> <%= data.price %></p>
                    <p class=" lead"><strong>Category :</strong> <%= data.category %></p>
                </div>
                <div class="list-details  pl-5 ">
                    <p class="lead"><strong>Location :</strong> <%= data.location %></p>
                    <p class=" lead"><strong>Phone :</strong> <%= data.phonenumber %></p>
                </div>
                <% if(user){%>
                <div class="listing-bottom align-bottom pl-3">
                    <a href="/reviews/<%= data.id %>" class="btn btn-info" role="buttom">Write a Review</a>
                </div>
                <% }else{ %>
                <div class="listing-bottom align-bottom">
                    <button type="button" class="btn btn-info pointer" data-toggle="tooltip" data-placement="top"
                        title="Please login to write a review." tabindex="-1" disabled>Write a Review</button>
                </div>
                <% } %>
            </li>
            <hr>
            <% } %>
        </ul>
    </div>
    <%- include("./partials/end.ejs") %>
</body>