<%- include("./partials/head.ejs") %>

<body>
    <%- include ('partials/nav') %>
    <div class="container pt-4">
        <div class="bodyDiv">
            <div class="review-list">
                <h3><%= data.name %> </h3>
            </div>
            <hr>
            <h4>Write Review</h4>
            <form action="" method="post">
                <input class="form-control" id="id" value="<%= data.id %>" type="hidden">
                <% if(user){%>
                <input class="form-control" id="reviewer" value="<%= user.name %>" type="hidden">
                <% } %>
                <input class="form-control" id="reviewer" value="Patty" type="hidden">
                <div class="form-group ">
                    <label for="">Rating</label>
                    <div class="col-sm-12" id="star_rating">
                        <span id="1_star" title="Bad"> <i class="fas fa-star"></i> </span>
                        <span id="2_star" title="Poor"> <i class="fas fa-star"></i> </span>
                        <span id="3_star" title="Fair"> <i class="fas fa-star"></i> </span>
                        <span id="4_star" title="Good"> <i class="fas fa-star"></i> </span>
                        <span id="5_star" title="Excellent"> <i class="fas fa-star"></i> </span>
                        <span id="showTitle"></span>
                    </div>

                </div>

                <div class="form-group ">
                    <label for="">Review</label>
                    <textarea name="review" id="review" rows="8" cols="80" class="form-control"></textarea>
                </div>

                <div class="form-group pb-4">
                    <input type="submit" id="rate" value="Create" class="form-control btn btn-primary">
                </div>
            </form>
        </div>
    </div>
    <%- include("./partials/end.ejs") %>
</body>